@import "bootstrap";

$greenColor:#8DC741;

.btn-primary {
  @include button-variant($greenColor, darken($greenColor, 7.5%), darken($greenColor, 10%), lighten($greenColor,5%), lighten($greenColor, 10%), darken($greenColor,30%));
}

.btn-outline-primary {
  @include button-outline-variant($greenColor, #222222, lighten($greenColor,10%), $greenColor);
}


.customDialogOverlay {
  background: rgba(36, 123, 160, 0.7) !important;
}

.customDialogModal {
  background: #b2dbbf !important;
  width: 90%;
}

@import 'bootstrap-icons/font/bootstrap-icons.css';